@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 10px;
}

.logo {
  font-family: "montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #1A73E8;
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 5px 15px;
  transition: 0.3s;
}

.search-wrapper:hover {
  background: #eaeaea;
}

.search-icon {
  font-size: 16px;
  margin-right: 10px;
  color: #666;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 5px;
}

.search-btn {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background: #4a90e2;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.search-btn:hover {
  background: #3a78c4;
}

.nav-right i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  background: #1A73E8;
  color: #fff;
  padding: 8px 8px;
  border-radius: 5px;
}
/* Navbar */

/* Banner */
.gambar1 {
  border-radius: 20px;
}
/* Banner */

/* Category */
.category-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 35px;
  flex-wrap: wrap;
}

.category-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}

.category-item {
  background: #eaeaea;
  width: 185px;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 13px;
}
/* Category */

/* Product */
.product-section {
  width: 100%;
  padding: 15px 0px;
  font-family: "montserrat", sans-serif;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-header h2 {
  padding-left: 10px;
  font-size: 22px;
  font-weight: 700;
}

.section-header a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

.product-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  overflow-x: auto;
}

.product-card img {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  width: 80%;
}

.product-card {
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  line-height: 10px;
}

.name-product {
  font-weight: 400;
}

.price {
  font-weight: 700;
}

.buy-btn {
  border-radius: 5px;
  border: none;
  background: #4a90e2;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
/* Product */

/* Footer */
.footer{
  background: #fff;
  border-top: 1px solid #eee;
  padding: 50px 40px 0;
  font-family: "montserrat", sans-serif;
}

.footer-container{
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  gap: 20px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
  line-height: 20px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #007bff;
}

.footer img {
  width: 10%;
  margin-bottom: 20px;
}

.app-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.app-icon {
  width: 120px;
}

.social img {
  width: 32px;
  margin-right: 8px;
  cursor: pointer;
}

.sosial img:hover {
  opacity: 0.7;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0px;
  font-size: 10px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  color: #666;
}
/* Footer */

/* Product-Page */
.product-page{
    font-family: "montserrat", sans-serif;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 40px;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
}

.left-gallery{
    display: flex;
    gap: 20px;
}

.thumbs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thumbs img{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbs img:hover{
    border: 2px solid gold;
}

.main-image img{
    width: 100%;
}

.right-info h2{
    font-size: 26px;
    margin-bottom: 10px;
}

.price{
    margin: 15px 0;
    font-size: 22px;
}

.price .old{
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.price .disc{
    background: red;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 10px;
}

.color-options{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.c1{ background: #0053ff; }
.c2{ background: #0d1b2a; }
.c3{ background: #ff1d1d; }

select {
    width: 350px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.qty{
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-qty {
    width: 350px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
font-size: 16px;
} 

.qty button{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.actions{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.cart{
    background: #ffd000;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.buy{
    background: #ffb800;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
/* Product-Page */

/* Detail */
.product-details-container {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    font-family: "Poppins", Arial;
}

.section {
    margin-bottom: 50px;
}

.section-title {
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    padding: 4px 10px;
}

.section hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 12px 0 25px;
}

.detail-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.detail-content p,
.detail-content ul {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.detail-content ul li {
    margin-bottom: 8px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #222;
}

.read-more:hover {
    text-decoration: underline;
}

.spec-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.spec-row {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

.spec-row span:first-child {
    font-weight: 600;
    color: #333;
}

.spec-row:last-child {
    border-bottom: none;
}

/* GARANSI */
.garansi-content p {
    font-size: 16px;
    margin-bottom: 8px;
}
/* Detail */

/* Ulasan */
.review-container {
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.review-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
}

.review-title span {
    padding-bottom: 3px;
}

.divider {
    border: none;
    height: 1px;
    background: #dcdcdc;
    margin: 20px 0 40px 0;
}

.sub {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}

.label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 500;
}

.rating span {
    font-size: 32px;
    color: #cfcfcf;
    margin-right: 5px;
    cursor: pointer;
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    margin-bottom: 22px;
    outline: none;
    transition: 0.2s;
}

.review-form input:focus,
.review-form textarea:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 4px #ffeb99;
}

.review-form textarea {
    height: 120px;
    resize: vertical;
}

.submit-btn {
    background: #1A73E8;
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    background: #3a78c4;
}

/* Ulasan */









/* Eror */
.container-eror {
    background: #f3f4f6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-eror {
    text-align: center;
    max-width: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

h1 {
    font-size: 120px;
    font-weight: 700;
    color: #2563eb;
}

.subtitle {
    font-size: 28px;
    font-weight: 600;
    margin-top: -10px;
}

.desc {
    margin: 15px 0 30px;
    font-size: 16px;
    color: #444;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2563eb;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.btn:hover {
    background: #1d4ed8;
}
/* Eror */